#texto {
    height: 30vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#texto h1 {
    font-family: "Archivo Narrow", sans-serif;
    font-size: 45px;
    font-weight: 700;
    width: 20%;
    text-align: left;
    color: #037056;
}

#texto p {
    width: 25%;
    font-family: "DM Sans", sans-serif;
    font-size: 20px;
    text-align: left;
    color: black;
}